.section-inclusion-list {
  background-color: #f1f5f8;
  border-right: 30px;
  width: 100%;
  padding: 80px 0;

  .heading {
    @media (min-width: 768px) {
      br {
        display: none;
      }
    }
  }

  .inclusion-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 50px;

    .inclusion-item {
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      padding: 40px 20px 0 30px;
      aspect-ratio: 340 / 400;

      .title {
        font-weight: 400;
        font-size: 23px;
        line-height: 115%;
        color: #000;
      }
    }

    @media (max-width: 1400px) {
      grid-template-columns: repeat(2, 1fr);

      .inclusion-item {
        aspect-ratio: unset;
        min-height: 200px;

        .title {
          font-size: 20px;
        }
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);

      .inclusion-item {
        min-height: 180px;
      }
    }
  }
}