.section-industries {
  padding-bottom: 80px;

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3px;
    margin-top: 50px;

    .branch-item {
      aspect-ratio: 352 / 352;
      height: 100%;
      background: #ccc;
      border-radius: 20px;
      overflow: hidden;

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @media (min-width: 991px) {
        &:nth-child(1),
        &:nth-child(7),
        &:nth-child(13) {
          aspect-ratio: 708 / 352;
          justify-self: start;
          width: 100%;
          grid-column: 1 / -3;
        }

        &:nth-child(6),
        &:nth-child(12),
        &:nth-child(18) {
          aspect-ratio: 708 / 352;
          justify-self: end;
          width: 100%;
          grid-column: -1 / 3;
        }
      }
    }

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);

      .branch-item {
        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(8) {
          aspect-ratio: 708 / 352;
          justify-self: start;
          width: 100%;
          grid-column: 1 / -1;
        }
      }
    }
  }
}