.my-achievements {
    background-color: #fff;
    border-radius: 0;
}

.my-achievements .list-achievements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin-top: 50px;
}

.my-achievements .list-achievements .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 30px;
    height: 200px;
    border-bottom: 1px solid #ECECEE;

    max-width: 390px;
    color: var(--Black);
    font-size: 22px;
    font-weight: 600;
    line-height: 140%; /* 30.8px */
}

.my-achievements .list-achievements .grid-container .item .logo {
    width: auto;
    height: 62px;
}

@media (max-width: 1500px) {
    .my-achievements .list-achievements .grid-container .item .title {
        font-size: 16px;
    }

    .my-achievements .list-achievements .grid-container .item .logo {
        height: 40px;
    }
}

@media (max-width: 1100px) {
    .my-achievements .list-achievements {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
    }

    .my-achievements .list-achievements .grid-container .item {
        flex-direction: column;
        grid-gap: 20px;
        height: 150px;
        justify-content: center;
    }

    .my-achievements .list-achievements .grid-container .item .title {
        text-align: center;
        max-width: 100% ;
    }
}

@media (max-width: 767px) {
    .my-achievements .list-achievements {
        grid-template-columns: 1fr;
    }
    .my-achievements .list-achievements .item {
        max-width: 100%;
        text-align: center;
    }
}