.header {
  position: absolute;
  top: 20px;
  left: 50%;
  z-index: 10;
  width: 100%;
  transform: translateX(-50%);

  .header-container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    height: 76px;
    background-color: #fff;
    border-radius: 30px;

    .logo {
      font-weight: 700;
      font-size: 22px;
      color: #000;

      @media (max-width: 600px) {
        font-size: 16px;
      }
    }

    .nav {
      display: flex;
      align-items: center;
      grid-gap: 20px;
      margin: 0 auto;

      .anchor-item {
        font-size: 17px;
        color: #000;
      }

      @media (max-width: 900px) {
        display: none;
      }
    }

    .action-container {
      display: flex;
      align-items: center;
      justify-content: end;

      .btn-contact-us {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 13px;
        padding: 14px 30px;
        width: 187px;
        height: 47px;
        background-color: #000;
        font-size: 15px;
        color: #fff;

        @media (max-width: 900px) {
          padding: 10px 15px;
          width: auto;
          height: auto;
        }
      }
    }

    @media (max-width: 900px) {
      grid-template-columns: auto auto;
      justify-content: space-between;
      padding: 0 20px;
    }
  }
}