@use './mixins-buttons';

.G-button {
  @include mixins-buttons.button-reset;

  // Вариант оформления кнопки
  &.primary {
    @include mixins-buttons.button-primary;
  }

  &.primary-outline {
    @include mixins-buttons.button-primary-outline;
  }

  &.secondary {
    @include mixins-buttons.button-secondary;
  }

  &.secondary-outline {
    @include mixins-buttons.button-secondary-outline;
  }

  &.link {
    @include mixins-buttons.button-link;
  }

  &.success {
    @include mixins-buttons.button-success;
  }

  &.warning {
    @include mixins-buttons.button-warning;
  }

  &.error {
    @include mixins-buttons.button-error;
  }

  // Размер кнопки
  &.xs {
    padding: 0 8px;
    height: 25px;
    font-size: 12px;

    i {
      font-size: 14px;
    }
  }

  &.sm {
    padding: 0 20px;
    height: 38px;
    font-size: 14px;

    i {
      font-size: 18px;
    }
  }

  &.md {
    padding: 0 16px;
    height: 43px;
    font-size: 14px;

    i {
      font-size: 20px;
    }
  }

  &.lg {
    padding: 0 20px;
    height: 50px;
    font-size: 16px;

    i {
      font-size: 22px;
    }
  }

  &.xl {
    padding: 0 35px;
    height: 58px;
    font-size: 18px;

    i {
      font-size: 26px;
    }
  }

  &.xxl {
    padding: 0 40px;
    height: 72px;
    font-size: 24px;

    i {
      font-size: 30px;
    }
  }

  &[disabled] {
    touch-action: none;
    cursor: default;
  }

  &.aspect {
    aspect-ratio: 1 / 1;
  }
}