.section-services {
  padding: 100px 0;

  .wrapper-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .left-col {

    }

    .right-col {
      .services-list {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;

        .service-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          grid-gap: 30px;
          border-radius: 30px;
          padding: 30px 40px;
          width: 100%;
          min-height: 180px;
          background: linear-gradient(90deg, #f5fcfb 0%, #e9f4f2 100%);

          .info-block {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .number {
              width: max-content;
              font-weight: 400;
              font-size: 18px;
              line-height: 115%;
              text-align: center;
              color: #fff;
              border-radius: 30px;
              padding: 2px 0;
              min-width: 50px;
              background-color: #1a5f57;
              margin-bottom: 20px;
            }

            .title {
              font-weight: 400;
              font-size: 24px;
              line-height: 115%;
              color: #000;
              white-space: pre;

              @media (max-width: 1000px) {
                font-size: 20px;
              }
            }
          }

          .icon-container {
            .icon {
              font-size: 80px;
              background: linear-gradient(180deg, #38aae8 0%, #4ebd8d 100%);

              @media (max-width: 1000px) {
                font-size: 60px;
              }
            }

            @media (max-width: 768px) {
              margin-left: auto;
            }
          }

          &:first-child {
            background: linear-gradient(90deg, #f0fffe 0%, #dbfbf5 100%);
          }

          @media (max-width: 768px) {
            align-items: unset;
            flex-direction: column;
          }
        }
      }
    }

    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
      grid-gap: 50px;
    }
  }
}