.section-page-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .title {
    font-size: 120px;
    font-weight: bold;
    color: #fff;
  }
}