.g-footer {
  border-radius: 30px 30px 0 0;
  padding: 50px 0 60px;
  background: linear-gradient(90deg, #166159 0%, #378147 100%), rgba(28, 28, 28, 0.2);

  .logo {
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    text-align: center;
    width: max-content;
    margin: 0 auto;
  }

  .wrapper-container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 10px;

    .left-col {
      display: flex;
      flex-direction: column;
      grid-gap: 6px;

      .text {
        font-weight: 400;
        font-size: 14px;
        color: #fff;

        &.link {
          text-decoration: underline;
          text-underline-offset: 3px;
        }
      }
    }

    .right-col {
      display: flex;
      flex-direction: column;
      grid-gap: 6px;

      .link {
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        text-align: right;
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }

    @media (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
      grid-gap: 40px;
      margin-top: 30px;

      .left-col {
        .text {
          text-align: center;
        }
      }

      .right-col {
        .link {
          text-align: center;
        }
      }
    }
  }
}


.modal-public-offer {
  width: 100% !important;
  max-width: 700px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;

  .header {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    .header-title {
      font-weight: 600;
    }
  }

  .modal-content {
    .wrapper-container {
      padding: 20px;

      .text {
        margin-bottom: 12px;
      }
    }
  }
}

.modal-mask {
  background-color: rgba(0, 0, 0, 0.6);
}